* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans';
    font-size: 14px;
}

.topnav.navbar {
    background-color: #f9f9f9;
    border-bottom: 1px solid #e0e0e0;
    min-height: 40px;
    margin-bottom: 0px;
}

.topnav .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #3D3D3D;
}

.topnav .nav > li > a:hover,
.dropdown.open .dropdown-toggle {
    background: none;
    color: #59b210;
}

header {
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #e0e0e0;
}

.logo {
    text-align: center;
    margin-top: 10px;
}

.logo img {
    width: 100%;
    max-width: 150px;
}

.logo a {
    text-decoration: none;
    font-size: 3rem;
    font-weight: 800;
    color: #59b210;
}

.head_help,
.head_email {
    height: 20px;
    line-height: 20px;
    padding-left: 27px;
    padding-right: 15px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: left center;
    display: inline;
}

.head_help {
    background-image: url('../images/phone.png');
}

.head_email {
    background-image: url('../images/mail.png');
}

.head_email span {
    color: #59b210;
}

.search_area {
    clear: both;
    height: 50px;
    border: 3px solid #c6c6c6;
    border-radius: 7px;
    margin-top: 10px;
    overflow: hidden;
}

.search_area input, .search_area select {
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    background-color: #FFF;
}

.search_area input[type=text] {
    height: 44px;
    float: left;
    width: 50%;
    padding-left: 15px;
}

.search_area select {
    width: 35%;
    height: 44px;
    float: left;
    border-left: 1px solid #CCC;
    border-radius: 0px;
}

.search_area input[type=submit] {
    width: 15%;
    height: 44px;
    float: left;
    background-color: #59b210;
    background-image: url('../images/search.png');
    background-size: auto 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.cartarea {
    float: right;
    margin-top: 10px;
}

.carticon {
    width: 50px;
    height: 50px;
    background-image: url('../images/cart.png');
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 18px;
    padding-top: 6px;
    display: inline-block;
    vertical-align: top;
}

.carttotal {
    display: inline-block;
    color: #000;
}

.carttotal span {
    color: #59b210;
    font-size: 20px;
    font-weight: bold;
}

.cartqt {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #FFF;
    font-weight: bold;
    font-size: 12px;
    background-color: #59b210;
    border-radius: 10px;
}

.categoryarea {
    margin-top: 27px;
    margin-bottom: 27px;
}

.categoryarea .container {
    background-color: #f9f9f9;
    height: 60px;
    padding: 0;
    border-radius: 5px;
}

.categoryarea .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
}

.categoryarea .nav > li > a:hover {
    background-color: #ECECEC;
}

.categoryarea a {
    color: #000;
    border-right: 1px solid #e0e0e0;
}

.categoryarea .dropdown {
    background-color: #59b210;
    border-radius: 5px;
}

.categoryarea .dropdown .dropdown-toggle {
    background-image: url('../images/list.png');
    background-size: 20px auto;
    background-position: 15px center;
    background-repeat: no-repeat;
    color: #FFF;
    font-weight: bold;
    padding-left: 67px;
    border-right: 0px;
}

.categoryarea .nav > li.dropdown > a:focus,
.categoryarea .nav > li.dropdown > a:hover {
    background-color: #59b210;
    border-radius: 5px;
}

section {
    margin-bottom: 50px;
}

section .container {
    padding: 0;
}

h1 {
    font-size: 24px;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
}

.filterarea {
    border: 2px solid #ececec;
    border-radius: 10px;
    padding: 10px;
}

.widget {
    margin-top: 20px;
    margin-bottom: 20px;
}

.widget h1 {
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 15px;
}

footer {
    padding-top: 30px;
    background-color: #F9F9F9;
    border-top: 1px solid #e0e0e0;
}

.subarea {
    margin-top: 50px;
    margin-bottom: 50px;
}

.subarea form {
    margin: 0;
    padding: 0;
}

.subarea:before {
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    width: 100%;
    background-color: #e0e0e0;
    z-index: 0;
    margin-top: 30px;
}

.subarea .subemail {
    margin: 0;
    width: 80%;
    height: 60px;
    display: inline-block;
    border: 0;
    padding: 0;
    border: 1px solid #E0E0E0;
    border-radius: 5px 0 0 5px;
    outline: 0;
    padding-left: 15px;
}

.subarea input[type=submit] {
    margin: 0;
    width: 20%;
    height: 60px;
    display: inline-block;
    border: 0;
    padding: 0;
    outline: 0;
    border-radius: 0 5px 5px 0;
    margin-left: -5px;
    color: #FFF;
    background-color: #59b210;
}

.subarea input[type=submit]:hover {
    background-color: #60c011;
}

footer h3 {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 30px;
    font-size: 18px;
}

.links {
    margin-bottom: 50px;
}

.linkgroups a {
    color: #acacac;
    text-decoration: none;
}

.linkgroups a:hover {
    color: #59b210;
}

.linkgroups ul,
.linkgroups li {
    margin: 0 0 12px 0;
    padding: 0;
    list-style: none;
}

.copyright {
    background-color: #3D3D3D;
    padding: 17px 0;
    line-height: 30px;
    color: #8a8a8a;
}

.copyright span {
    color: #FFF;
}

.payments {
    text-align: right;
}

.payments img {
    height: 30px;
    background-color: #FFF;
    border-radius: 4px;
    margin-right: 3px;
}

.no-padding {
    padding: 0;
}


.product_item {
    padding: 10px;
    border: 1px solid #FFF;
}

.product_item:hover {
    border: 1px solid #EEE;
}

.product_item a {
    text-decoration: none;
    display: block;
}

.product_tags {
    position: absolute;
}

.product_tag {
    height: 30px;
    line-height: 30px;
    background-color: #000;
    float: left;
    clear: both;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    color: #FFF;
}

.product_tag_red {
    background-color: #f8484a;
    text-transform: uppercase;
}

.product_tag_green {
    background-color: #59b210;
    text-transform: uppercase;
}

.product_tag_blue {
    background-color: #407ac5;
    text-transform: uppercase;
}

.product_name {
    font-weight: bold;
    color: #0e53a5;
}

.product_brand {
    color: #000;
    font-size: 11px;
}

.product_price_from {
    float: left;
    color: #CCC;
    font-size: 12px;
    margin-top: 15px;
}

.product_price {
    float: right;
    color: #000;
    font-weight: bold;
    margin-top: 15px;
}

.paginationItem {
    width: 40px;
    height: 40px;
    border: 1px solid #DDD;
    font-size: 13px;
    text-align: center;
    line-height: 40px;
    display: inline-block;
}

.paginationItem:hover,
.pag_active {
    border: 1px solid #59b210;
}

.paginationItem a {
    display: block;
    color: #000;
    text-decoration: none;
}

.paginationArea {
    margin-top: 30px;
}

.dropdown-menu {
    width: 100%;
}

.filterbox {
    border-bottom: 1px solid #CCC;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.filtertitle {
    color: #59b210;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #EEE;
}

.filteritem {
    height: 25px;
    font-size: 12px;
    cursor: pointer;
}

.filteritem label {
    font-weight: normal;
}

.widget_item {
    margin-top: 10px;
}

.widget_item a {
    text-decoration: none;
    color: #000;
}

.widget_info {
    float: left;
    width: 80%;
}

.widget_photo {
    float: right;
    width: 20%;
}

.widget_photo img {
    width: 100%;
    border: 1px solid #CCC;
}

.widget_productname {
    font-weight: bold;
    color: #0e53a5;
}

.widget_price span {
    color: #999;
}

.original_price {
    font-size: 25px;
    font-weight: bold;
}

.price_from {
    font-size: 14px;
    color: #CCC;
}

.addtocartform {
    margin-top: 20px;
}

.addtocart_qt {
    /*height:35px;*/
    width: 40px;
    text-align: center;
    border: 1px solid #CCC;
    outline: 0;
    float: left;
    padding: 10px 12px;
}

.form-control-custom {
    /*height:35px;*/
    /*width:40px;*/
    text-align: center;
    border: 1px solid #CCC;
    outline: 0;
    float: left;
    padding: 10px 12px;
}

.addtocartform button {
    width: 40px;
    font-weight: bold;
    /*height:35px;*/
    text-align: center;
    border: 1px solid #CCC;
    background-color: #FFF;
    float: left;
    padding: 10px 12px;
}

.addtocart_submit {
    /*height:35px;*/
    float: left;
    margin-left: 10px;
    background-color: #59b210;
    border: 1px solid #59b210;
    border-radius: 3px;
    color: #FFF;
    font-weight: bold;
    padding: 10px 12px;
}

.frete_submit {
    /*height:35px;*/
    float: left;
    margin-left: 10px;
    background-color: #337ab7;
    border: 1px solid #337ab7;
    border-radius: 3px;
    color: #FFF;
    font-weight: bold;
    padding: 10px 12px;
}

.mainphoto img {
    width: 100%;
}

.photo_item {
    width: 25%;
    float: left;
    text-align: center;
    cursor: pointer;
}

.photo_item img {
    width: 90%;
}

.button {
    background-color: #59b210;
    border-radius: 5px;
    padding: 10px;
    border: 0;
    color: #FFF;
}

.image-product {
    width: 100%;
    height: 200px;
    /*height: auto;*/
    object-fit: contain;
}

.image-product-widget {
    width: 100%;
    height: 50px;
    object-fit: contain;
}


.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 10px 17px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #111111;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 0 2px;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    border-radius: 0;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-radius: 0;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    border: 1px solid #59b210;
    background-color: #ffffff;
    color: #222222;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #59b210;
    border-color: #59b210;
}

.mb-0 {
    margin-bottom: 0;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-50 {
    margin-top: 50px;
}

.d-flexcs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-1 {
    flex: 1;
}

.filter-price {
    border: none;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
}

.ui-slider .ui-slider-handle {
    width: 1.4em;
    height: 1.4em;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -0.6em;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 4px solid rgb(89, 178, 16);
    background: #f6f6f6;
    font-weight: normal;
    color: #454545;
    border-radius: 50%;
}

.ui-slider-horizontal {
    height: 0.5em;
}

.dropdown-menu > li > a {
    padding: 10px 20px;
}

.dropdown-menu > li > a:hover {
    background-color: #59b210;
    color: #ffffff;
}

/*===================================================================================*/
/*  Carousel
/*===================================================================================*/
.carousel-holder.hover {
    position: relative;
}

.carousel-holder.hover.small .size-small {
    max-width: 134.7pt !important;
}

.carousel-holder.hover.small .size-small:hover .hover-area {
    bottom: 6px;
}

.carousel-holder .title-nav {
    margin: 0 0 32px 0;
    position: relative;
}

.carousel-holder .title-nav h1, .carousel-holder .title-nav h2 {
    font-weight: normal !important;
    background-color: #fff;
    color: #3D3D3D;
    letter-spacing: -1px;
    padding: 0 23px 0 0;
}

.carousel-holder .title-nav h1 {
    font-size: 33px;
    line-height: 40px;
}

.carousel-holder .title-nav h2 {
    font-size: 28px;
    line-height: 35px;
}

.carousel-holder .title-nav .nav-holder {
    float: right;
    display: inline-block;
}

.carousel-holder .title-nav .nav-holder a {
    font-size: 29px;
    line-height: 40px;
    color: lightgrey !important;
    text-decoration: none;
    margin: 0 3px;
}

.carousel-holder .title-nav .nav-holder:after {
    z-index: -1;
    top: 50%;
    position: absolute;
    left: 0;
    content: "";
    height: 1px;
    width: 90%;
    right: 0;
    margin: 0 auto;
    background-color: #e0e0e0;
}

.carousel-holder .title-nav .nav-holder a {
    color: #e0e0e0;
}

.brands-carousel .carousel-item {
    width: 168px;
    text-align: center;
    margin: 0 27px 0 0;
}

.brands-carousel .carousel-item a {
    padding: 0px;
    margin: 2px 0 0 0;
    display: block;
    border: 1px solid #e0e0e0;
}

.brands-carousel .carousel-item a img {
    height: 90px;
    vertical-align: middle;
    display: inline-block;
}

/*===================================================================================*/
/*  OWL CAROUSEL
/*===================================================================================*/
.owl-carousel {
    text-align: center;
    cursor: default;
}

.owl-controls {
    display: inline-block;
    position: relative;
    margin-top: 40px;
}

.panel-group .panel .owl-controls {
    margin-top: 25px;
}

.panel-group.blank .panel .owl-controls {
    margin-top: 40px;
}

.owl-pagination, .homebanner-holder .owl-dots {
    position: relative;
    line-height: 30px;
}

.owl-buttons {
    display: none;
}

.owl-prev, .owl-next {
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 30px;
    height: 30px;
    font-size: 21px;
    color: #FFF;
    background-color: lightgray;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: auto;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    opacity: 0;
}

.owl-prev {
    left: -35px;
}

.owl-next {
    right: -35px;
}

.owl-carousel:hover .owl-prev {
    left: -40px;
    opacity: .25;
}

.owl-carousel:hover .owl-next {
    right: -40px;
    opacity: .25;
}

.owl-carousel:hover .owl-prev:hover, .owl-carousel:hover .owl-next:hover {
    opacity: 1;
}

.owl-outer-nav:after {
    content: "";
    position: absolute;
    top: 0;
    left: -15%;
    width: 130%;
    height: 100%;
    z-index: 0;
}

.owl-outer-nav .owl-wrapper-outer, .owl-outer-nav .owl-stage-outer, .owl-outer-nav .owl-pagination, .owl-outer-nav .owl-prev, .owl-outer-nav .owl-next {
    z-index: 1;
}

.owl-outer-nav .owl-controls {
    position: static;
}

.owl-outer-nav .owl-prev {
    left: -65px;
}

.owl-outer-nav .owl-next {
    right: -65px;
}

.owl-outer-nav:hover .owl-prev {
    left: -80px;
}

.owl-outer-nav:hover .owl-next {
    right: -80px;
}

.owl-ui-md .owl-pagination {
    line-height: 45px;
}

.owl-ui-md .owl-prev, .owl-ui-md .owl-next {
    width: 45px;
    height: 45px;
    font-size: 45px;
}

.owl-ui-md .owl-prev {
    left: -55px;
}

.owl-ui-md .owl-next {
    right: -55px;
}

.owl-ui-md:hover .owl-prev {
    left: -60px;
}

.owl-ui-md:hover .owl-next {
    right: -60px;
}

.owl-outer-nav.owl-ui-md:after {
    left: -18%;
    width: 136%;
}

.owl-outer-nav.owl-ui-md .owl-prev {
    left: -85px;
}

.owl-outer-nav.owl-ui-md .owl-next {
    right: -85px;
}

.owl-outer-nav.owl-ui-md:hover .owl-prev {
    left: -100px;
}

.owl-outer-nav.owl-ui-md:hover .owl-next {
    right: -100px;
}

.owl-ui-lg .owl-pagination {
    line-height: 60px;
}

.owl-ui-lg .owl-prev, .owl-ui-lg .owl-next {
    width: 60px;
    height: 60px;
    font-size: 42px;
}

.owl-ui-lg .owl-prev {
    left: -75px;
}

.owl-ui-lg .owl-next {
    right: -75px;
}

.owl-ui-lg:hover .owl-prev {
    left: -80px;
}

.owl-ui-lg:hover .owl-next {
    right: -80px;
}

.owl-outer-nav.owl-ui-lg:after {
    left: -22%;
    width: 144%;
}

.owl-outer-nav.owl-ui-lg .owl-prev {
    left: -105px;
}

.owl-outer-nav.owl-ui-lg .owl-next {
    right: -105px;
}

.owl-outer-nav.owl-ui-lg:hover .owl-prev {
    left: -120px;
}

.owl-outer-nav.owl-ui-lg:hover .owl-next {
    right: -120px;
}

.owl-inner-nav .owl-controls {
    position: static;
}

.owl-inner-nav .owl-prev {
    left: 45px;
}

.owl-inner-nav .owl-next {
    right: 45px;
}

.owl-inner-nav:hover .owl-prev {
    left: 30px;
}

.owl-inner-nav:hover .owl-next {
    right: 30px;
}

.owl-outer-nav .owl-prev, .owl-outer-nav .owl-next, .owl-inner-nav .owl-prev, .owl-inner-nav .owl-next {
    bottom: 70px;
}

.owl-outer-nav.owl-ui-md .owl-prev, .owl-outer-nav.owl-ui-md .owl-next, .owl-inner-nav.owl-ui-md .owl-prev, .owl-inner-nav.owl-ui-md .owl-next {
    bottom: 85px;
}

.owl-outer-nav.owl-ui-lg .owl-prev, .owl-outer-nav.owl-ui-lg .owl-next, .owl-inner-nav.owl-ui-lg .owl-prev, .owl-inner-nav.owl-ui-lg .owl-next {
    bottom: 100px;
}

.owl-inner-pagination .owl-pagination, .owl-inner-pagination .owl-prev, .owl-inner-pagination .owl-next {
    margin-top: -40px;
    top: -60px;
}

.owl-inner-pagination.owl-ui-md .owl-pagination, .owl-inner-pagination.owl-ui-md .owl-prev, .owl-inner-pagination.owl-ui-md .owl-next {
    margin-top: -50px;
    top: -65px;
}

.owl-inner-pagination.owl-ui-lg .owl-pagination, .owl-inner-pagination.owl-ui-lg .owl-prev, .owl-inner-pagination.owl-ui-lg .owl-next {
    margin-top: -60px;
    top: -75px;
}

.owl-inner-pagination.owl-outer-nav .owl-prev, .owl-inner-pagination.owl-outer-nav .owl-next, .owl-inner-pagination.owl-inner-nav .owl-prev, .owl-inner-pagination.owl-inner-nav .owl-next {
    margin: auto;
    top: 0;
    bottom: 43px;
}

.owl-inner-pagination .owl-pagination {
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    opacity: 0;
}

.owl-inner-pagination:hover .owl-pagination {
    opacity: 1;
}

.owl-inner-pagination.owl-inner-nav .owl-pagination, .owl-inner-pagination.owl-outer-nav .owl-pagination {
    top: -45px;
}

.owl-inner-pagination.owl-inner-nav.owl-ui-md .owl-pagination, .owl-inner-pagination.owl-outer-nav.owl-ui-md .owl-pagination {
    top: -50px;
}

.owl-inner-pagination.owl-inner-nav.owl-ui-lg .owl-pagination, .owl-inner-pagination.owl-outer-nav.owl-ui-lg .owl-pagination {
    top: -60px;
}

.owl-inner-pagination.owl-inner-nav:hover .owl-pagination, .owl-inner-pagination.owl-outer-nav:hover .owl-pagination {
    top: -60px;
}

.owl-inner-pagination.owl-inner-nav.owl-ui-md:hover .owl-pagination, .owl-inner-pagination.owl-outer-nav.owl-ui-md:hover .owl-pagination {
    top: -65px;
}

.owl-inner-pagination.owl-inner-nav.owl-ui-lg:hover .owl-pagination, .owl-inner-pagination.owl-outer-nav.owl-ui-lg:hover .owl-pagination {
    top: -75px;
}

#owl-main .item {
    height: 525px;
    background-color: #FFF;
    background-position: center 55%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#owl-main.height-md .item {
    height: 457px;
}

#owl-main.height-lg .item {
    height: 675px;
}

#owl-main .container {
    display: table;
    height: inherit;
}

#owl-main .caption {
    display: table-cell;
}

#owl-main .caption.vertical-center {
    vertical-align: middle;
    padding-bottom: 3vh;
}

#owl-main .caption.vertical-top {
    vertical-align: top;
    padding-top: 8vh;
}

#owl-main .caption.vertical-bottom {
    vertical-align: bottom;
    padding-bottom: 14vh;
}

#owl-main .caption.text-center {
    padding-left: 10%;
    padding-right: 10%;
}

#owl-main .caption.text-left {
    padding-right: 20%;
}

#owl-main .caption.text-right {
    padding-left: 20%;
}

#owl-main .owl-controls {
    display: block;
    position: static;
    margin-top: -47px;
}

.homebanner-holder #owl-main .owl-dots {
    background: #FFF;
    line-height: inherit;
    position: absolute;
    bottom: -30px;
    padding: 10px;
    display: inline-block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    opacity: 0;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.homebanner-holder #owl-main:hover .owl-dots {
    bottom: -18px;
    opacity: 1;
}

#owl-main .owl-prev, #owl-main .owl-next {
    bottom: 0;
}

.owl-controls .owl-page, .homebanner-holder .owl-dots .owl-dot {
    display: inline-block;
}

.owl-pagination .owl-page span, .homebanner-holder .owl-dots .owl-dot span {
    display: block;
    width: 15px;
    height: 15px;
    background: lightgray;
    border: none;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 0 5px;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.owl-item-gap .item {
    margin: 0 15px;
}

.owl-item-gap-sm .item {
    margin: 0 10px;
}

.owl-item.loading {
    min-height: inherit;
    background: none;
}

#owl-recently-viewed .owl-wrapper-outer, #owl-recently-viewed .owl-stage-outer, #owl-recently-viewed-2 .owl-wrapper-outer, #owl-recently-viewed-2 .owl-stage-outer {
    width: 100.1%;
    padding-bottom: 70px;
}

#owl-recently-viewed .owl-wrapper-outer .owl-item .product-item-holder, #owl-recently-viewed .owl-stage-outer .owl-item .product-item-holder, #owl-recently-viewed-2 .owl-wrapper-outer .owl-item .product-item-holder, #owl-recently-viewed-2 .owl-stage-outer .owl-item .product-item-holder {
    border-right-width: 0;
}

#owl-recently-viewed .owl-wrapper-outer .owl-item .product-item-holder .wish-compare a, #owl-recently-viewed .owl-stage-outer .owl-item .product-item-holder .wish-compare a, #owl-recently-viewed-2 .owl-wrapper-outer .owl-item .product-item-holder .wish-compare a, #owl-recently-viewed-2 .owl-stage-outer .owl-item .product-item-holder .wish-compare a {
    margin: 0 7px;
}

#owl-recently-viewed .owl-wrapper-outer .owl-item:last-child .product-item-holder, #owl-recently-viewed .owl-stage-outer .owl-item:last-child .product-item-holder, #owl-recently-viewed-2 .owl-wrapper-outer .owl-item:last-child .product-item-holder, #owl-recently-viewed-2 .owl-stage-outer .owl-item:last-child .product-item-holder {
    border-right-width: 1px;
}

#owl-recommended-products .owl-wrapper-outer, #owl-recommended-products .owl-stage-outer {
    width: 100.1%;
    padding-bottom: 70px;
}

#owl-recommended-products .owl-wrapper-outer .owl-item .product-item-holder, #owl-recommended-products .owl-stage-outer .owl-item .product-item-holder {
    border-right-width: 0;
}

#owl-recommended-products .owl-wrapper-outer .owl-item .product-item-holder .wish-compare a, #owl-recommended-products .owl-stage-outer .owl-item .product-item-holder .wish-compare a {
    margin: 0 7px;
}

#owl-recommended-products .owl-wrapper-outer .owl-item:last-child .product-item-holder, #owl-recommended-products .owl-stage-outer .owl-item:last-child .product-item-holder {
    border-right-width: 1px;
}


.inline, .iconic-link, .btn-add-to-compare, .btn-add-to-wishlist, .inline-input input, header .top-cart-row .wishlist-compare-holder, header .top-cart-row .top-cart-holder, header .top-cart-row .top-cart-holder .basket-item .thumb, header .top-cart-row .top-cart-holder .basket-item-count, header .top-cart-row .top-cart-holder .total-price-basket, .le-select, .le-select .le-select-in, .le-dropdown, .carousel-holder .title-nav h1, .carousel-holder .title-nav h2, .single-product-gallery .gallery-thumbs .next-btn, .single-product-gallery .gallery-thumbs .prev-btn, .grid-list-products .grid-list-buttons, .grid-list-products .grid-list-buttons ul li, #single-product .body-holder .body .availability, #single-product .body-holder .social-row, #single-product .body-holder .buttons-holder, #single-product .body-holder .price-current, #single-product .body-holder .price-prev, #single-product .body-holder .qnt-holder, .le-quantity, .tabled-data li label, .tabled-data li .value, #checkout-page .billing-address .le-checkbox, .sidebar .widget .product-list .price .price-prev, .sidebar .widget .product-list .price .price-current, #footer .widget .price .price-prev, #footer .widget .price .price-current, #footer .link-list-row .footer-logo, #footer .link-list-row .link-widget {
    display: inline-block;
    vertical-align: top;
}

.capital, .h1, h1, h2, .iconic-link, .btn-add-to-compare, .btn-add-to-wishlist, .availability, .availability .available, .availability .not-available, .section-title, .pagination a, .inline-input .placeholder, .simple-link, .top-bar ul > li a, header .top-cart-row .wishlist-compare-holder, header .top-cart-row .top-cart-holder .total-price-basket, .categories-filter, .breadcrumb-nav-holder .breadcrumb-item > a, .le-links li a, .accordion-widget .accordion .accordion-inner li a, .accordion-widget .accordion, .le-button, .le-dropdown .dropdown-toggle, .carousel-holder .title-nav h1, .carousel-holder .title-nav h2, .product-item-holder .body .title, #owl-main .caption .small, .banner .banner-text h1, .banner .banner-text .tagline, .nav-tabs li a, .nav-tabs li.active a, .btn-loadmore, .meta-row label, .meta-row span, .meta-row span a, #single-product-tab .new-review-form h2, .tabled-data li label, .tabled-data li .value, .field-row label, .comment-item .comment-body .author, #cart-page .widget .buttons-holder .simple-link, #checkout-page .billing-address .placeholder, #checkout-page #your-order .order-item .title, #payment-method-options .payment-method-option .radio-label, #payment-method-options .payment-method-option .value, .sidebar .price-range-holder .filter-button a, .sidebar .widget .product-list li a, .sidebar .widget .category-filter ul label, #footer h2, #footer h3, #footer .widget .body li a, #footer .link-list-row .contact-info, #footer .link-list-row .link-widget li a, #footer .copyright-bar {
    text-transform: capitalize;
}

.fa-angle-left:before {
    content: "\f104";
}

.navbar-nav > li > .dropdown-menu {
    margin-top: -3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.tree {
    padding: 0;
    --spacing: 2.4rem;
    --radius: 3px;
}

.tree li {
    display: block;
    position: relative;
    padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
    margin-bottom: 10px;
}

.tree ul {
    margin-left: calc(var(--radius) - var(--spacing));
    padding-left: 0;
}

.tree ul li {
    border-left: 2px solid #ddd;
}

.tree ul li:last-child {
    border-color: transparent;
}

.tree ul li::before {
    content: '';
    display: block;
    position: absolute;
    top: calc(var(--spacing) / -2);
    left: -2px;
    width: calc(var(--spacing) + 2px);
    height: calc(var(--spacing) + 1px);
    border: solid #ddd;
    border-width: 0 0 2px 2px;
}

.tree summary {
    display: block;
    cursor: pointer;
    font-weight: bold;
}

.tree summary a {
    border-right: none !important;
    text-decoration: none;
}

.tree summary::marker,
.tree summary::-webkit-details-marker {
    display: none;
}

.tree summary:focus {
    outline: none;
}

.tree summary:focus-visible {
    outline: 1px dotted #000;
}

.tree li::after,
.tree summary::before {
    content: '';
    display: block;
    position: absolute;
    top: calc(var(--spacing) / 2 - var(--radius));
    left: calc(var(--spacing) - var(--radius) - 1px);
    width: calc(2 * var(--radius));
    height: calc(2 * var(--radius));
    border-radius: 0;
    background: #ddd;
}

.tree summary::before {
    z-index: 1;
    background: #59b210;
}

.tree details[open] > summary {
    font-weight: bold;
}


.tree details[open] > summary::before {
    background-position: calc(-2 * var(--radius)) 0;
}

.category-principal {
    font-weight: bold !important;
}

.department-principal {
    font-weight: bold !important;
}

.nav-tabs, .nav-tabs li, .nav-tabs a, .nav-tabs ul {
    transition: 0.3s ease;
}

.nav-tabs {
    border: none;
}

.nav-tabs li a {
    border: none;
    color: #3D3D3D;
    background-color: #F9F9F9;
    font-size: 15px;
    line-height: 13px;
    padding: 18px 39px;
    margin: 0 3px;
}

.nav-tabs li.active a, .nav-tabs li.active a:focus {
    background-color: #59B210 !important;
}

.nav-tabs li.active a, .nav-tabs li.active a:focus {
    color: #fff !important;
    border: none !important;
}

.tab-content {
    border: 1px solid #e0e0e0;
}

.nav-tabs > li {
    float: left;
    margin-bottom: 0px;
}

.tab-pane {
    padding: 35px;
}

.tab-content > .active {
    display: block;
}

.tab-pane .meta-row {
    margin: 20px 0 0 0;
    font-size: 14px;
}

.tabled-data {
    padding: 0;
}

.tabled-data li:first-child {
    padding-top: 0;
}

.tabled-data li {
    border-bottom: 1px solid #e0e0e0;
    color: #3D3D3D;
    font-size: 14px;
    padding: 7px 0;
    list-style: none;
}

.tabled-data li label {
    margin: 0;
    min-width: 150px;
    font-weight: 700;
}

.capital, .h1, h1, h2, .iconic-link, .btn-add-to-compare, .btn-add-to-wishlist, .availability, .availability .available, .availability .not-available, .section-title, .pagination a, .inline-input .placeholder, .simple-link, .top-bar ul > li a, header .top-cart-row .wishlist-compare-holder, header .top-cart-row .top-cart-holder .total-price-basket, .categories-filter, .breadcrumb-nav-holder .breadcrumb-item > a, .le-links li a, .accordion-widget .accordion .accordion-inner li a, .accordion-widget .accordion, .le-button, .le-dropdown .dropdown-toggle, .carousel-holder .title-nav h1, .carousel-holder .title-nav h2, .product-item-holder .body .title, #owl-main .caption .small, .banner .banner-text h1, .banner .banner-text .tagline, .nav-tabs li a, .nav-tabs li.active a, .btn-loadmore, .meta-row label, .meta-row span, .meta-row span a, #single-product-tab .new-review-form h2, .tabled-data li label, .tabled-data li .value, .field-row label, .comment-item .comment-body .author, #cart-page .widget .buttons-holder .simple-link, #checkout-page .billing-address .placeholder, #checkout-page #your-order .order-item .title, #payment-method-options .payment-method-option .radio-label, #payment-method-options .payment-method-option .value, .sidebar .price-range-holder .filter-button a, .sidebar .widget .product-list li a, .sidebar .widget .category-filter ul label, #footer h2, #footer h3, #footer .widget .body li a, #footer .link-list-row .contact-info, #footer .link-list-row .link-widget li a, #footer .copyright-bar {
    text-transform: capitalize;
}

.inline, .iconic-link, .btn-add-to-compare, .btn-add-to-wishlist, .inline-input input, header .top-cart-row .wishlist-compare-holder, header .top-cart-row .top-cart-holder, header .top-cart-row .top-cart-holder .basket-item .thumb, header .top-cart-row .top-cart-holder .basket-item-count, header .top-cart-row .top-cart-holder .total-price-basket, .le-select, .le-select .le-select-in, .le-dropdown, .carousel-holder .title-nav h1, .carousel-holder .title-nav h2, .single-product-gallery .gallery-thumbs .next-btn, .single-product-gallery .gallery-thumbs .prev-btn, .grid-list-products .grid-list-buttons, .grid-list-products .grid-list-buttons ul li, #single-product .body-holder .body .availability, #single-product .body-holder .social-row, #single-product .body-holder .buttons-holder, #single-product .body-holder .price-current, #single-product .body-holder .price-prev, #single-product .body-holder .qnt-holder, .le-quantity, .tabled-data li label, .tabled-data li .value, #checkout-page .billing-address .le-checkbox, .sidebar .widget .product-list .price .price-prev, .sidebar .widget .product-list .price .price-current, #footer .widget .price .price-prev, #footer .widget .price .price-current, #footer .link-list-row .footer-logo, #footer .link-list-row .link-widget {
    display: inline-block;
    vertical-align: top;
}

.inline, .iconic-link, .btn-add-to-compare, .btn-add-to-wishlist, .inline-input input, header .top-cart-row .wishlist-compare-holder, header .top-cart-row .top-cart-holder, header .top-cart-row .top-cart-holder .basket-item .thumb, header .top-cart-row .top-cart-holder .basket-item-count, header .top-cart-row .top-cart-holder .total-price-basket, .le-select, .le-select .le-select-in, .le-dropdown, .carousel-holder .title-nav h1, .carousel-holder .title-nav h2, .single-product-gallery .gallery-thumbs .next-btn, .single-product-gallery .gallery-thumbs .prev-btn, .grid-list-products .grid-list-buttons, .grid-list-products .grid-list-buttons ul li, #single-product .body-holder .body .availability, #single-product .body-holder .social-row, #single-product .body-holder .buttons-holder, #single-product .body-holder .price-current, #single-product .body-holder .price-prev, #single-product .body-holder .qnt-holder, .le-quantity, .tabled-data li label, .tabled-data li .value, #checkout-page .billing-address .le-checkbox, .sidebar .widget .product-list .price .price-prev, .sidebar .widget .product-list .price .price-current, #footer .widget .price .price-prev, #footer .widget .price .price-current, #footer .link-list-row .footer-logo, #footer .link-list-row .link-widget {
    display: inline-block;
    vertical-align: top;
}

.tab-pane .meta-row .seperator {
    margin: 0 20px;
}

.meta-row span {
    color: #3D3D3D;
    font-weight: 500;
}

h2, a, a:hover, a:focus, a:active, .primary-color, .le-color, .breadcrumb-nav-holder .current > a, .sidemenu-holder .side-menu .menu-item:hover, .sidemenu-holder .side-menu .menu-item .open, header .top-search-holder .contact-row i, header .top-cart-row .wishlist-compare-holder a:hover, header .top-cart-row .wishlist-compare-holder a:hover i, header .top-cart-row .top-cart-holder .basket-item .price, .le-links li a:hover, .accordion-widget .accordion .accordion-toggle, .accordion-widget .accordion .accordion-toggle:after, #footer .widget .body li a:hover, #footer .link-list-row .link-widget li a:hover, .iconic-link:hover, .iconic-link:hover:before, .le-quantity .minus:hover, .le-quantity .minus:hover:after, .le-quantity .plus:hover, .le-quantity .plus:hover:after, .owl-carousel:hover .owl-prev:hover, .owl-carousel:hover .owl-next:hover, .panel-group-faq .panel-faq .panel-heading .panel-title > a:after, .panel-group-faq .panel-faq .panel-heading .panel-title > a:hover:after, .posts .post .meta > li a:hover, .blog-sidebar .widget .recent-post-list h5 a:hover, .comment-item .comment-body .likes a:hover, .comment-item .comment-body .likes .icon:hover .comment-item .comment-body .likes .dislikes .icon:hover, .comment-item .comment-body .likes .comment-reply:hover, .carousel-holder .title-nav .inverse, .simple-link:hover, .meta-row span a, .comment-item .comment-body .author, .product-item-holder .body .title a:hover, #cart-page .widget .buttons-holder .simple-link:hover, #cart-page .items-holder .close-btn:hover:after, #cart-page .items-holder .cart-item .title a:hover, .top-bar ul > li a:hover, .sidebar .price-range-holder .filter-button a, .sidebar .widget .product-list li a:hover, .sidebar .widget .product-list .price .price-current, .grid-list-products .grid-list-buttons ul li.active a i {
    color: #59B210;
}

.meta-row span a {
    font-weight: 600;
}

.text-disponivel {
    color: #59b210;
    font-weight: bold;
}

.text-indisponivel {
    color: #e71212;
    font-weight: bold;
}

.button-danger {
    /*height:35px;*/
    float: left;
    margin-left: 10px;
    background-color: #e71212;
    border: 1px solid #e71212;
    border-radius: 3px;
    color: #FFF;
    font-weight: bold;
    padding: 10px 12px;
}

.product-title {
    color: #0a1016;
    font-weight: 600;
}
